$display-width: 605px;

#container {
  display: flex;
  justify-content: center;
}

#display {
  align-items: center;
  width: $display-width;
  margin: 20px;
  padding: 10px;

  border: 2px solid black {
    radius: 10px;
  }
}

@media screen and (max-width: 500px) {
  #display {
    width: 300px;
  }
}