$gs: 90px;

#panel {
  display: grid;
  grid-template-columns: $gs $gs $gs $gs $gs;
  grid-template-rows: $gs $gs $gs $gs $gs;
  margin-left: 20px;

  button {
    font: {
      size: 40px;
    }

    border: {
      radius: 10px;
    }
  }
}
