$gs: 90px;

#panel {
  padding: {
    top: 100px;
    left: 95px;
  }

  display: grid;
  
  grid: {
    template: {
      columns: $gs $gs $gs $gs $gs;
      rows: $gs $gs $gs $gs $gs;
    }
  }

  button {
    margin: 1px;
    background: {
      color: #999;
    }

    font: {
      size: 40px;
    }

    border: 1px solid black {
      radius: 10px;
    }
  }
}
